.logo{
	height: 42%;
	width: auto;
	position: absolute;
	left: 5%;
	bottom: 26%;
}


.footer{
	height: 55%;
	position: absolute;
	right:0%;
	bottom: 0%;
}

.text {	
    font-family: 'Montserrat', sans-serif;	
    font-size: 22px; 
    text-align: left;
    margin: auto;
	padding: 20px;
	width: 700px;
}

.about {	
    font-family: 'Montserrat', sans-serif;	
    font-size: 30px; 
    text-align: left;
    font-weight: bold;
    color: #858585;
}

.box1{
	position: fixed;
	width: 100%;
	height: 200px;
	top:0%;
	left:0%;
	/*background-color:#e91e63;*/
}

.sigPritam,.sigTitas,.sigAmit{
	position: relative;
	float: left;
	width: 	200px;
	height: 100px;
	/*box-shadow: .1px .1px 3px .1px #888888;*/
	margin: 20px;
}
/*
.sig{
	margin-top:450px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background: #d5d5d5;
}
*/
.sig{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.socialmedia{
	margin-top: 100px;
	width: 400px;
	margin: auto;
	padding: 5px;
	/*background-color:#858585;*/
	text-align: center;
}

div.socialmedia img{
	opacity: .5;
	width: 	40px;
	margin: 5px;
	/*box-shadow: .1px .1px 3px .1px #888888;*/
}

div.socialmedia img:hover{
	opacity: 1;

}

.main{
	margin-top: 200px;
	padding: 10px;
}

@media (max-width:1200px) and (min-width:0px){
	
.logo{
	height: 50%;
	width: auto;
	position: absolute;
	left: 5%;
	bottom: 26%;
}
.text {	
    font-size: 30px;
}

.about {	
    font-size: 40px; 
}

.main{
	margin-top: 200px;
	padding: 10px;
	/*background-color:#858585;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.socialmedia{
	margin-top: 60px;
}


}