.logo{
	height: 42%;
	width: auto;
	position: absolute;
	left: 5%;
	bottom: 26%;
}

.forms{
	position: absolute;
	top:52%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*background-color:#e91e63;*/

}

.text{
	font-family: 'Montserrat', sans-serif;	
    font-size: 100%; 
	position: fixed;
	/*left:10%;*/
	right: 1%;
	bottom: 1%;
	text-align: left;
}

.box1{
	position: fixed;
	width: 100%;
	height: 200px;
	top:0%;
	left:0%;
	/*background-color:#fff;*/
}