* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
}

.content2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1{
  text-decoration: none;
  color: #bababa;
  float: left;
  font-size: 25px;
  margin: 25px;
}

h1:hover{
  color: #fff;
}

.logo{
  opacity: 1;
	top:35%; 
	left: 5%; 
	position: absolute; 
	height: 15%; 
	width: auto;
}

.logo_b{
  opacity: 0;
  top:35%; 
  left: 5%; 
  position: absolute; 
  height: 15%; 
  width: auto;

}

.socialmedia{
  position: absolute;
  height: 100px;
  width: auto;
  margin: 5px;
  bottom: 40%;
  right: 0%;
  /*left: 50%;
  transform: translate(-50%, -50%);*/
}

div.socialmedia img{
  opacity: 0.5;
  position: relative;
  height: 40px;
  width: auto;
  float: left;
  margin: 5px;
  /*box-shadow: 0px 0px 5px #fff;*/
}

div.socialmedia img:hover{
  opacity: 1;

}

.quotes{
  top:40%; 
  right:5%; 
  position: absolute;
  color: #fff;
  font-size: 25px;
  text-align: right;
  width: 40%;
}

@media (max-width:1200px) and (min-width:0px) {
  #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.logo{
  opacity: 0;
  top:5%; 
  left: 5%; 
  position: absolute; 
  height: 10%; 
  width: auto;
}

.logo_b{
  opacity: 1;
  top:5%; 
  left: 5%; 
  position: absolute; 
  height: 10%; 
  width: auto;

}

.quotes{
  top:50%; 
  left:50%; 
  position: absolute;
  color: #fff;
  font-size: 28px;
  text-align: center;
  transform: translate(-50%,-50%);
  width: 80%;
}

h1{
  text-decoration: none;
  color: #bababa;
  float: left;
  font-size: 27px;
  margin: 22px;
}

div.socialmedia img{
  opacity: 0.5;
  position: relative;
  height: 40px;
  width: auto;
  float: left;
  margin: 5px;
  /*box-shadow: 0px 0px 5px #fff;*/
}

.socialmedia{
  position: absolute;
  height: 100px;
  width: auto;
  margin: 3px;
  bottom: 35%;
  right: 0%;
  /*left: 50%;
  transform: translate(-50%, -50%);*/
}


}

